$cLiliachiu: #9370db;
$cAccentColor: #9370db;
$cGhostWhite: #fafafa;
$cBlackGray: #1b1725; //#242038; #090909;
$cBlackGrayAccent: #13101a;
$cScarletRed: #ff2400;
$cErrorRed: #e71d36;

$cGarme: #ebf0f7;
$cBetterBlack: #0e1111;
$cBetterBlackFaded: #616161;
